.no-pad {
padding:0;
}

.inside {
background-color:#FFF!important;
border-color:#000;
border-style:solid;
border-width:1px;
padding:1px;
}

.number {
width:5%;
}

.content {
width:90%;
}

.print-meetings,.print-meetings-form {
width:100%;
font-size:10px;
}

.valign_top {
vertical-align:top;
}

.con_center {
text-align:center;
}

.gray {
background-color:#cdc9c9!important;
}

.print-meetings-content {
margin:0 5px;
}
